form {
  padding: 20px;
}

.form-control {
  background-image: url(https://images.pexels.com/photos/3584430/pexels-photo-3584430.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

h3 {
  font-size: 15px;
  text-align: center;
}

.cloud {
  display: block;
  margin: 0 auto;
}

.condition {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.temp {
  font-size: 40px;
  text-align: center;
}

.stats {
  margin-left: 60px;
  font-size: 15px;
  padding: 20px;
  color: white;
}
